/* Navbar Styles */
.navbar {
  padding: 15px 20px; /* Reduce padding for better balance */
  background-color: #3333337c;
  border-bottom: 2px solid #656565; /* Optional: adds a gold line below the navbar */
}

.navbar-brand img {
  max-height: 50px; /* Ensures the brand logo remains within size limits */
}

.navbar-nav .nav-link {
  color: white;
  padding: 10px 15px; /* Adds padding to make the links more clickable */
  font-size: 16px; /* Makes the font a bit larger */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth color and background transition */
}

/* Hover effect */
.navbar-nav .nav-link:hover {
  color: #f1c40f; /* Gold color on hover */
  background-color: rgba(
    241,
    196,
    15,
    0.001
  ); /* Optional: subtle background color on hover */
}

/* Navbar collapse for mobile */
@media (max-width: 991px) {
  .navbar {
    padding: 10px 15px; /* Reduced padding for smaller screens */
  }

  .navbar-nav .nav-link {
    font-size: 14px; /* Smaller font on mobile */
  }
}
